 <p class="govuk-body-s">Please note - the current page uses an exchange rate of <strong><%= @gbp_to_eur_exchange_rate %> GBP to EUR</strong>.</p>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      More about this exchange rate
    </span>
  </summary>
  <div class="govuk-details__text">
    The exchange rate used is derived from European Central Bank. The reference rates are usually updated around 15:00 on every working day.
  </div>
</details>
