<% if @duty_options.size > 1 %>
  <nav>
    <p class="govuk-body govuk-!-margin-bottom-3">See below for the options for paying duties on this import:</p>
    <ul class="app-contents govuk-!-margin-bottom-9">
      <% @duty_options.each.with_index(1) do |option, index| %>
        <li class="govuk-!-margin-bottom-2">
          <%= link_to("Option #{index}: #{option[:key].to_s.humanize}", "##{option[:key]}", class: 'govuk-body') %>
        </li>
      <% end %>
    </ul>
  </nav>
<% else %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Information</span>
      <%= duty_option[:warning_text] %>
    </strong>
  </div>
<% end %>