<%= render 'wizard/steps/duty/calculations/options_summary' %>

<% @duty_options.each.with_index(1) do |(key, duty_option), index| %>
  <h2 id=<%= key %> class="govuk-heading-m govuk-!-margin-bottom-7"><%= "Option #{index}: #{ key.to_s.humanize }" %></h2>
  <table class="govuk-table govuk-table--m govuk-!-margin-bottom-9">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Data</th>
        <th scope="col" class="govuk-table__header">Calculation</th>
        <th scope="col" class="govuk-table__header">Value</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <%= render partial: 'wizard/steps/duty/calculations/option_row', collection: duty_option[:values], as: :row %>
    </tbody>
  </table>
<% end %>
