<div class="govuk-header__content">
  <a href="#" class="govuk-header__link govuk-header__link--service-name" id="proposition-name">
    Trade Tariff Duty Calculator
  </a>
  <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="proposition-links" aria-label="Show or hide Top Level Navigation">Menu</button>
  <nav id="proposition-menu"  aria-label="Top Level Navigation">
    <ul id="proposition-links" class="govuk-header__navigation ">
      <li class="govuk-header__navigation-item">
        <%= link_to 'Search or browse the Tariff', trade_tariff_url, class: "govuk-header__link" %>
      </li>
      <li class="govuk-header__navigation-item">
        <%= link_to "A-Z", a_to_z_url, class: "govuk-header__link" %>
      </li>
      <li class="govuk-header__navigation-item">
        <%= link_to "Tools", tools_url, class: "govuk-header__link" %>
      </li>
    </ul>
  </nav>
</div>
