<% if @user_session.ni_to_gb_route? %>
  <p class="govuk-body govuk-!-margin-top-5">There are no import duties applicable to the movement of goods from Northern Ireland to England, Scotland and Wales.</p>
  <p class="govuk-body">Find out more about <%= link_to('trading and moving goods in and out of Northern Ireland (opens in a new window)', 'https://www.gov.uk/guidance/trading-and-moving-goods-in-and-out-of-northern-ireland', class: 'govuk-link', target: '_blank') %>.</p>
<% elsif @user_session.eu_to_ni_route? %>
  <p class="govuk-body govuk-!-margin-top-5">
  There is no import duty to pay when importing goods into Northern Ireland from a European Union member state.
  </p>
  <p class="govuk-body govuk-!-margin-top-5">
    An import declaration is not required.
  </p>
<% elsif @user_session.gb_to_ni_route? %>
  <%= render 'steps/duty/gb_to_ni/no_duty' %>
<% end %>

<%= link_to('Start again', import_date_path(referred_service: user_session.referred_service, commodity_code: user_session.commodity_code), class: 'govuk-button') %>
