<li>You are transporting goods from <strong>England, Scotland or Wales</strong> to Northern Ireland</li>
<li>You are a member of the Uk Trader Scheme</li>
<li>Your import is <strong>for sale to, or final use by</strong>, end-consumers located in Northern Ireland</li>
