<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Product-specific rules for commodity <%= commodity.formatted_commodity_code %>
    </span>
  </summary>
  <div class="govuk-details__text">
    <%- if scheme.rules.any? -%>
      <%= render 'steps/duty/calculations/rules_of_origin/rules_table', country_name: user_session.country_of_origin,
        rules: scheme.rules %>

    <%- else -%>
      <p>
        There are no product-specific rules for commodity <%= commodity.formatted_commodity_code %>
      </p>
    <%- end -%>
  </div>
</details>
