.explore-topics-section {
  border-top: 2px solid govuk-colour("blue");
}

.govuk-green {
  color: govuk-colour("green");
}

.app-contents {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 2.2em;
  margin-bottom: 0;
  text-indent: -2.2em;
}

.app-contents li::before {
  content: "\2014";
  margin: 0 1em 0 0;
}
