version: 2.1

orbs:
  cloudfoundry: circleci/cloudfoundry@1.0
  cypress: cypress-io/cypress@1.27.0
  node: circleci/node@2
  ruby: circleci/ruby@1.1.2
  slack: circleci/slack@4.3.0

commands:
  cf_deploy:
    parameters:
      space:
        type: string
      environment_key:
        type: string
      app_domain_prefix:
        type: string
      buildpack_version:
        type: string
        default: "v1.8.39"
    steps:
      - checkout
      - run:
          name: "Setup CF CLI"
          command: |
            curl -L -o cf.deb 'https://packages.cloudfoundry.org/stable?release=debian64&version=7.2.0&source=github-rel'
            sudo dpkg -i cf.deb
            cf -v
            cf api "$CF_ENDPOINT"
            cf auth "$CF_USER" "$CF_PASSWORD"
            cf add-plugin-repo CF-Community https://plugins.cloudfoundry.org
            cf install-plugin app-autoscaler-plugin -r CF-Community -f
            cf target -o "$CF_ORG" -s "<< parameters.space >>"
      - run:
          name: "Fetch existing manifest"
          command: |
            cf create-app-manifest "$CF_APP-<< parameters.environment_key >>" -p deploy_manifest.yml
      - run:
          name: "Push new app in dark mode"
          command: |
            export BUILDPACK="https://github.com/cloudfoundry/ruby-buildpack.git#<< parameters.buildpack_version >>"

            # Enables /healthcheck to show the current deployed git sha
            export GIT_NEW_REVISION=$(git rev-parse --short HEAD)
            echo $GIT_NEW_REVISION >REVISION

            # Push as "dark" instance
            cf push "$CF_APP-<< parameters.environment_key >>-dark" -f deploy_manifest.yml --no-route --buildpack $BUILDPACK

            # Map dark route
            cf map-route  "$CF_APP-<< parameters.environment_key >>-dark" london.cloudapps.digital -n "$CF_APP-<< parameters.environment_key >>-dark"

            # Enable routing from this service to the backend applications which are private
            cf add-network-policy "$CF_APP-<< parameters.environment_key >>-dark" "$CF_BACKEND_APP_XI-<< parameters.environment_key >>" --protocol tcp --port 8080
            cf add-network-policy "$CF_APP-<< parameters.environment_key >>-dark" "$CF_BACKEND_APP_UK-<< parameters.environment_key >>"  --protocol tcp --port 8080
      - run:
          name: "Verify new version is working on dark URL."
          command: |
            sleep 15
            # Verify new version is working on dark URL.
            HTTPCODE=`curl -s -o /dev/null -w "%{http_code}" https://$CF_APP-<< parameters.environment_key >>-dark.london.cloudapps.digital/duty-calculator/ping`

            if [ "$HTTPCODE" -ne 200 ];then
              echo "dark route not available, failing deploy ($HTTPCODE)"
              cf logs "$CF_APP-<< parameters.environment_key >>-dark" --recent
              cf delete -f  "$CF_APP-<< parameters.environment_key >>-dark"
              exit 1
            fi
      - run:
          name: "Switch dark app to live"
          command: |
            # Send "real" url to new version
            cf unmap-route "$CF_APP-<< parameters.environment_key >>-dark" london.cloudapps.digital -n "$CF_APP-<< parameters.environment_key >>-dark"

            # Start sending traffic to new version
            cf map-route  "$CF_APP-<< parameters.environment_key >>-dark" london.cloudapps.digital -n "$CF_APP-<< parameters.environment_key >>"
            # TODO: Update when we remove referring service from the path
            cf map-route  "$CF_APP-<< parameters.environment_key >>-dark" "<< parameters.app_domain_prefix >>".trade-tariff.service.gov.uk --path "/duty-calculator"

            # Stop sending traffic to previous version
            cf unmap-route  "$CF_APP-<< parameters.environment_key >>" london.cloudapps.digital -n "$CF_APP-<< parameters.environment_key >>"
            cf unmap-route  "$CF_APP-<< parameters.environment_key >>" "<< parameters.app_domain_prefix >>".trade-tariff.service.gov.uk --path "/duty-calculator"

            # stop previous version
            cf stop "$CF_APP-<< parameters.environment_key >>"

            # delete previous version
            cf delete "$CF_APP-<< parameters.environment_key >>" -f

            # Switch name of "dark" version to claim correct name
            cf rename "$CF_APP-<< parameters.environment_key >>-dark" "$CF_APP-<< parameters.environment_key >>"
      - slack/notify:
          channel: deployments
          event: fail
          template: basic_fail_1
      - slack/notify:
          channel: deployments
          event: pass
          template: basic_success_1

  sentry-release:
    steps:
      - checkout
      - run:
          name: Create release and notify Sentry of deploy
          command: |
            curl -sL https://sentry.io/get-cli/ | bash
            export SENTRY_RELEASE=$(sentry-cli releases propose-version)
            sentry-cli releases new -p $SENTRY_PROJECT $SENTRY_RELEASE
            sentry-cli releases set-commits $SENTRY_RELEASE --auto
            sentry-cli releases finalize $SENTRY_RELEASE
            sentry-cli releases deploys $SENTRY_RELEASE new -e $SENTRY_ENVIRONMENT


jobs:
  checking:
    docker:
      - image: 'cimg/ruby:2.7.3-node'
    steps:
      - checkout
      - ruby/install-deps
      - ruby/rubocop-check:
          format: progress
          label: Inspecting with Rubocop
      - run:
          name: GOV linter
          command: bundle exec rake lint:scss
      - run:
          name: Brakeman
          command:  bundle exec brakeman -o brakeman_results.html
      - store_artifacts:
          path: brakeman_results.html

  build:
    docker:
      - image: cimg/ruby:2.7.3-node
    steps:
      - checkout
      - run:
          name: "Build Docker image"
          command: |
            pwd
            ls -l
            docker build -t tariff-dutycalculator:ci .

  test:
    docker:
      - image: cimg/ruby:2.7.3-node
        environment:
          BUNDLE_JOBS: "3"
          BUNDLE_RETRY: "3"
          RAILS_ENV: test
          COVERAGE: 1
    steps:
      - checkout
      - ruby/install-deps
      - node/install-packages:
          pkg-manager: yarn
          cache-key: "yarn.lock"
      - ruby/rspec-test
      - store_artifacts:
          path: coverage
      - slack/notify:
          channel: deployments
          event: fail
          template: basic_fail_1

  cypress:
    docker:
      - image: 'cypress/base:latest'
    steps:
      - run:
          name: "Checkout tests repo"
          command: git clone "https://github.com/trade-tariff/trade-tariff-testing/"
      - run:
          name: "Cypress (dcSmokeTestCI)"
          command: 'cd trade-tariff-testing && npm install &&  npx cypress run --spec "/*/**/DutyCalculator/dcShared/dcSmokeTestCI.spec.js"'

  deploy_dev:
    docker:
      - image: cimg/ruby:2.7.3
    environment:
      SENTRY_ENVIRONMENT: "development"
    steps:
      - cf_deploy:
          space: "development"
          environment_key: "dev"
          app_domain_prefix: "dev"
      - sentry-release

  deploy_staging:
    docker:
      - image: cimg/ruby:2.7.3
    environment:
      SENTRY_ENVIRONMENT: "staging"
    steps:
      - cf_deploy:
          space: "staging"
          environment_key: "staging"
          app_domain_prefix: "staging"
      - sentry-release

  deploy_production:
    docker:
      - image: cimg/ruby:2.7.3
    environment:
      SENTRY_ENVIRONMENT: "production"
    steps:
      - cf_deploy:
          space: "production"
          environment_key: "production"
          app_domain_prefix: "www"
      - sentry-release

workflows:
  version: 2
  build_and_test:
    jobs:
      - checking
      - test:
          context: trade-tariff
          filters:
            branches:
              ignore:
                - master
      - build:
          requires:
            - test
      - deploy_dev:
          context: trade-tariff
          filters:
            branches:
              ignore:
                - master
          requires:
            - test
      - deploy_staging:
          context: trade-tariff
          filters:
            branches:
              only:
                - master
      - cypress:
          filters:
            branches:
              only:
                - master
          requires:
            - deploy_staging
      - hold_production:
          type: approval
          filters:
            branches:
              only:
                - master
          requires:
            - deploy_staging
      - deploy_production:
          context: trade-tariff
          filters:
            branches:
              only:
                - master
          requires:
            - hold_production
