<%= link_to('Back', @decorated_step.previous_step_path(service_choice: params[:service_choice], commodity_code: params[:commodity_code]), class: "govuk-back-link") %>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">Calculate import duties</span>
      <h1 class="govuk-heading-xl">Check your answers</h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Commodity code</dt>
          <dd class="govuk-summary-list__value"><%= @decorated_step.formatted_commodity_code %></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <%= render partial: 'entry', collection: @decorated_step.user_answers, as: :entry %>
      </dl>
      <%= link_to('Calculate import duties', '#', class: 'govuk-button') %>
    </div>
  </div>
</main>