<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    About this commodity code
    </span>
  </summary>
  <div class="govuk-details__text">
    Commodity code <strong>0101210000</strong><br>Pure-bred breeding animals<br><br><a class="govuk-link" href="/commodities/0101210000">View commodity 0101210000</a>
  </div>
</details>