<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    About this commodity code
    </span>
  </summary>
  <div class="govuk-details__text">
    Commodity code <strong><%= locals[:commodity_code] %></strong><br><%= locals[:commodity_description]%><br><br><a class="govuk-link" href="<%= commodity_url(locals[:commodity_code]) %>">View commodity <%= locals[:commodity_code] %></a>
  </div>
</details>
