<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">     
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <%= form_for @data, url: '/question_1', builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
        <span class="govuk-caption-xl">Calculate import duties</span>                          
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="import_date-hint">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                When will the goods be imported?
              </h1>
            </legend>
    

            <div id="import_date-hint" class="govuk-hint">
              As duties and quotas change over time, it may be important to enter the proposed import date.
                                    For example, 27&nbsp;&nbsp;3&nbsp;&nbsp;2021
            </div>


            <%= f.govuk_error_summary %>

            <%= f.govuk_date_field :date_of_birth, date_of_birth: true, legend: { text: 'Enter your date of birth' }, hint: { text: 'For example, 31 3 1980' } %>
  
          </fieldset>
        </div>
        <%= f.govuk_submit %>        
      <% end %>
      <details class="govuk-details" data-module="govuk-details" open="">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            About this commodity code
          </span>
        </summary>
        <div class="govuk-details__text">
          Commodity code <strong>0101210000</strong><br>Pure-bred breeding animals<br><br><a class="govuk-link" href="/commodities/0101210000">View commodity 0101210000</a>
        </div>
      </details>
    </div>
  </div>
</main>