<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <%= form_for 'data', url: "/calculate/data_handler/0101210000" do |f| %>
        <span class="govuk-caption-xl">Calculate import duties</span>
        <h1 class="govuk-heading-xl">What is the monetary value of this import?</h1>
        <span class="govuk-hint">The import duty charged for this commodity code is
        dependent on the monetary value of the goods being imported.
        <br><br>
        Duties are typically levied against the
        full cost of the goods plus the shipping and insurance costs.
        If you are calculating the import value using FOB (Free on board) rather than CIF (Cost, Insurance, and Freight),
        then please leave the 'cost of shipping' and 'cost of insurance' fields empty.
        Read more about the <a href="https://www.gov.uk/government/publications/notice-252-valuation-of-imported-goods-for-customs-purposes-vat-and-trade-statistics/notice-252-valuation-of-imported-goods-for-customs-purposes-vat-and-trade-statistics" class="govuk-link">
        valuation of imported goods for customs purposes, VAT and trade statistics</a>.
        </span>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s " for="monetary_value">
          What is the value in GBP of the goods being imported?
          </label>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <%= f.text_field :monetary_value, class: "govuk-input govuk-input--width-10" %>
          </div>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="shipping_cost">
          What is the shipping cost?
          </label>
          <div id="shipping_cost-hint" class="govuk-hint">
            Only costs up to the place of introduction of the imported goods into the UK border need to be included.
          </div>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <%= f.text_field :shipping_cost, class: "govuk-input govuk-input--width-10" %>
          </div>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="insurance_cost">
          What is the cost of insuring the goods?
          </label>
          <div id="insurance_cost-hint" class="govuk-hint">
            Only insurance costs up to the place of introduction of the imported goods into the UK border need to be included.
          </div>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <%= f.text_field :insurance_cost, class: "govuk-input govuk-input--width-10" %>
          </div>
        </div>
        <button class="govuk-button" data-module="govuk-button">
        Continue
        </button>
      <% end %>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          About this commodity code
          </span>
        </summary>
        <div class="govuk-details__text">
          Commodity code <strong>0101210000</strong><br>Pure-bred breeding animals<br><br><a class="govuk-link" href="/commodities/0101210000">View commodity 0101210000</a>
        </div>
      </details>
    </div>
  </div>
</main>