<%= link_to('Back', planned_processing_path, class: "govuk-back-link") %>

<span class="govuk-caption-xl">Calculate import duties</span>
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">Duties cannot currently be calculated</h1>
  </legend>
</fieldset>

<p class="govuk-body govuk-!-margin-top-5">We're currently unable to calculate the duties applicable to your import.</p>
<p class="govuk-body">The functionality to calculate the duties applicable to your circumstances is under construction.</p>

<p class="govuk-body">Find out more about <%= link_to('trading and moving goods in and out of Northern Ireland', 'https://www.gov.uk/guidance/trading-and-moving-goods-in-and-out-of-northern-ireland', target: '_blank') %>.</p>



