<div class="govuk-!-margin-bottom-5">
  <%= link_to('Back', country_of_origin_path, class: "govuk-back-link") %>
</div>

<span class="govuk-caption-xl">Calculate import duties</span>
<h1 class="govuk-heading-xl">Duties apply to this import</h1>
<p class="govuk-body">As this commodity attracts a trade defence measure, imports of this commodity are treated as 'at risk' under all circumstances.</p>
<p class="govuk-body">Click on the 'Continue' button to enter the customs value of your import, to help to calculate the applicable import duties.</p>
<%= link_to('Continue', customs_value_path, class: 'govuk-button') %>
