<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">We could not proceed with calculating your duty.</p>
      <p class="govuk-body">Click here to <%= link_to('start again', import_date_path(referred_service: user_session.referred_service, commodity_code: user_session.commodity_code, class: 'govuk-link')) %>.</p>
    </div>
  </div>
</main>
