<span class='rules-of-origin-explainer'>
  <strong>CC rule - change of chapter</strong>
  <br/>
  A product complies with the CC rule when all non-originating materials
  used in its production are classified in a different HS chapter
  than the product.
</span>
