<span class='rules-of-origin-explainer'>
  <strong>CTH rule - change in tariff heading</strong>
  <br />
  A product complies with the CTH rule when all non-originating materials
  used in its production are classified in a different HS heading
  than the product.
</span>
