<span class='rules-of-origin-explainer'>
  <strong>Ex-works price</strong>
  <br />
  When importing on Ex Works terms, the buyer is responsible for
  the whole shipment from door to door. All costs and liabilities
  are with the buyer. The only responsibility for a seller during
  the whole transportation process is to ensure that the goods they
  are selling are made available for collection at their premises.
</span>
