<span class='rules-of-origin-explainer'>
  <strong>Wholly obtained</strong>
  <br />
  The 'wholly obtained' rule applies mainly to basic agricultural products,
  fishery products, minerals, or waste and scrap.
  <br /><br />
  Wholly obtained products are goods obtained entirely in the
  territory of one country without the addition of any non-originating
  materials.
</span>
