<li>You are transporting goods from <strong>England, Scotland or Wales</strong> to Northern Ireland, <i>and</i></li>
<li>You are a member of the <%= market_scheme_type %>, <i>and</i></li>
<li>Your import is <strong>for sale to, or final use by</strong>, end-consumers located in Northern Ireland, <i>and</i></li>
