<h1 class="govuk-heading-xl"><%= heading %></h1>
<p class="govuk-body"><%= body %></p>
<p class="govuk-body">Click on the 'Continue' button to enter the customs value of your import, to help to calculate the applicable import duties.</p>
